@font-face {
    font-family: "Avenir Next Bold";
    src: url("../fonts/AvenirNext/AvenirNext-Bold.eot");
    src:
        url("../fonts/AvenirNext/AvenirNext-Bold.woff") format("woff"),
        url("../fonts/AvenirNext/AvenirNext-Bold.ttf") format("truetype"),
        url("../fonts/AvenirNext/AvenirNext-Bold.svg") format("svg");
}

@font-face {
    font-family: "Avenir Next DemiBold";
    src: url("../fonts/AvenirNext/AvenirNext-DemiBold.eot");
    src:
        url("../fonts/AvenirNext/AvenirNext-DemiBold.woff") format("woff"),
        url("../fonts/AvenirNext/AvenirNext-DemiBold.ttf") format("truetype"),
        url("../fonts/AvenirNext/AvenirNext-DemiBold.svg") format("svg");
}

@font-face {
    font-family: "Avenir Next Regular";
    src: url("../fonts/AvenirNext/AvenirNext-Regular.eot");
    src:
        url("../fonts/AvenirNext/AvenirNext-Regular.woff") format("woff"),
        url("../fonts/AvenirNext/AvenirNext-Regular.ttf") format("truetype"),
        url("../fonts/AvenirNext/AvenirNext-Regular.svg") format("svg");
}

@font-face {
    font-family: "Avenir Next UltraLight";
    src: url("../fonts/AvenirNext/AvenirNext-UltraLight.eot");
    src:
        url("../fonts/AvenirNext/AvenirNext-UltraLight.woff") format("woff"),
        url("../fonts/AvenirNext/AvenirNext-UltraLight.ttf") format("truetype"),
        url("../fonts/AvenirNext/AvenirNext-UltraLight.svg") format("svg");
}

@font-face {
    font-family: "Zahrah Medium";
    src: url("../fonts/ZahrahforDouglas/ZahrahforDouglas-MediumIt.eot");
    src:
        url("../fonts/ZahrahforDouglas/ZahrahforDouglas-MediumIt.woff") format("woff"),
        url("../fonts/ZahrahforDouglas/ZahrahforDouglas-MediumIt.ttf") format("truetype"),
        url("../fonts/ZahrahforDouglas/ZahrahforDouglas-MediumIt.svg") format("svg");
}

@font-face {
    font-family: "Zahrah Regular";
    src: url("../fonts/ZahrahforDouglas/ZahrahforDouglas-Regular.eot");
    src:
        url("../fonts/ZahrahforDouglas/ZahrahforDouglas-Regular.woff") format("woff"),
        url("../fonts/ZahrahforDouglas/ZahrahforDouglas-Regular.ttf") format("truetype"),
        url("../fonts/ZahrahforDouglas/ZahrahforDouglas-Regular.svg") format("svg");
}

@font-face {
    font-family: "Zahrah SemiBold";
    src: url("../fonts/ZahrahforDouglas/ZahrahforDouglas-SemiBoldIt.eot");
    src:
        url("../fonts/ZahrahforDouglas/ZahrahforDouglas-SemiBoldIt.woff") format("woff"),
        url("../fonts/ZahrahforDouglas/ZahrahforDouglas-SemiBoldIt.ttf") format("truetype"),
        url("../fonts/ZahrahforDouglas/ZahrahforDouglas-SemiBoldIt.svg") format("svg");
}