.ico-online-booking {
    background-image: url("../images/icons/online_booking_style.svg");
}

.ico-domain {
    background-image: url("../images/icons/domain_style.svg");
}

.ico-responsive {
    background-image: url("../images/icons/responsive_style.svg");
}

.ico-bell {
    background-image: url("../images/icons/notification_style.svg");
}

.ico-points {
    background-image: url("../images/icons/points_style.svg");
}

.ico-no-cost {
    background-image: url("../images/icons/no_extra_cost_style.svg");
}

.ico-customer {
    background-image: url("../images/icons/customer_management_style.svg");
}

.ico-newsletter {
    background-image: url("../images/icons/newsletter_style.svg");
}

.ico-web {
    background-image: url("../images/icons/web_presentation_style.svg");
}

.ico-arrow-green {
    background-image: url("../images/icons/arrow_green.svg");
}